{% extends "base.html" %}

{% block head %}
<title>Admission Inquery</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block content %}
<h1>CONTACT PAGE</h1>
<div class="contact">
    <div class="cc1">
            <div class="cfc2">
                <form action="/contact" method="POST" style="width: 400px;padding: 50px;">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" placeholder="Enter your name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" placeholder="Enter your email" />
                    </div>
                    <div class="form-group">
                        <label for="contact">Message:</label>
                        <input type="text" name="msg" placeholder="Enter your message..." />
                    </div>
                    <center><input type="submit" value="Submit" class="btn btn-primary" method='post'></center>
                </form>
            </div>
        </div>
    <!-- <div class="cc2"></div> -->
</div>

{% endblock %}