{% extends "base.html" %}

{% block content %}
<!-- <h1>HOME PAGE</h1> -->
<div class="home-heading">
    <h3 style="font-size: 50px;margin-bottom: 30px;">BOOK RESELLING MANAGEMENT SYSTEM</h3>
    <h1 style="margin-bottom: 50px;">Manage books <br> With your finger tip.</h1> 
    <h5 style="margin-bottom: 50px;">
        E-commerce in India has changed the buying habits of customers. 15 years ago, we used to regularly visit book shops and spend hours finding what we need. With online selling, buying books has become so easy that books are now one of the top selling categories in e-commerce.
    </h5> 
    <div class="container">
        <div class="row">
            <a class="nav-link nav-link-login" style="color: white;margin-left: 220px;width: 300px;border: 2px solid white;" href="{{ url_for('login') }}">Login to your portal</a></li>
            <a class="nav-link nav-link-register" style="color: white;margin-left: 20px;width: 300px;border: 2px solid white;" href="{{ url_for('login') }}">Helpguide to BRMS</a></li>
        </div>
    </div>
</div>
<!-- <div class="bg-video-wrap">
    <video src="../static/video/My Movie.mp4" loop muted autoplay>
    </video>
    <div class="overlay"></div>
  </div> -->
<div class="header">
    <img 
        class="headerImg"
        src="https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        alt=""
        style="height: 100vh; width: 100vw;"
    >
    <div class="overlay"></div>
  </div>
</div>
<div class="container-fluid" style="display: flex; max-width: 100%; flex-wrap: wrap;">
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e; ">
        <img class="article-img" src="{{ url_for('static', filename='img/book1.jpg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book2.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book3.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book4.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book5.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e; ">
        <img class="article-img" src="{{ url_for('static', filename='img/book1.jpg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book2.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book3.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book4.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
    <div class="media content-section" style="display: flex; flex-direction: column; margin: 50px; max-width: 300px;padding: 10px;box-shadow: 5px 5px 10px #504e4e;">
        <img class="article-img" src="{{ url_for('static', filename='img/book5.jpeg') }}" style="height: 300px; width: 200px;">
        <div class="media-body">
        <div class="article-metadata">
            <h3><a class="mr-2" href="{{ url_for('singlepost') }}">BOOK TITLE</a></br></h3>
            <small class="text-muted">BOOK AUTHOR</small>
        </div>
        <p class="article-content">BOOK PRICE</p>
        </div>
    </div>
</div>
{% endblock %}