{% extends "base.html" %}

{% block content %}
<h1>LOGIN PAGE</h1>
<div class="login">
    <div class="cc1">
            <div class="cfc2">
                <form action="/login" method="POST" style="width: 400px;padding: 50px;">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" placeholder="Enter your email" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="text" name="password" placeholder="Enter your password" />
                    </div>
                    <center><input type="submit" value="Submit" class="btn btn-primary" method='post'></center>
                </form>
            </div>
        </div>
    <!-- <div class="cc2"></div> -->
</div>
{% endblock %}